:root {
  --header-h: 4rem;
  --layout-max-w: 80rem;
  --layout-spacing: 2rem;
  /* colors */
  --white: #fff;
  --black: #000;
  --bg: var(--white);
  --border: #d1d5db;
  --foreground: #f9fafb;
  --primary: #3b82f6;
  --text-light: #1f2937;
  --subtle-light: #6b7280;
  /* font */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}
